<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">


	<h3>Employee List</h3>
	<!-- The link which sends GET request to "/showNewEmployeeForm"  -->
	<a th:href="@{/showNewEmployeeForm}"
		class="waves-effect waves-light btn">Add new employee</a>
	<div align="center" style="margin-top: 20px">
		<table class="responsive-table striped highlight centered">
			<thead>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<!--   <th>Actions</th> -->
				</tr>
			</thead>

			<tbody>
			<!-- You can access model attributes which are added in a Controller(EmployeeController.java) with ${attributeName}.
				 In this case, it is "${listEmployees}".
			     To show all employees data in this table, you need to use "th:each" in the thymeleaf template and iterate the employee of listEmployees -->
				<tr th:each="employee: ${listEmployees}">
					<td th:text="${employee.id}"></td>
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					
					
				 
				<!--<td>
						<!-- The link which sends GET request to "/showFormForUpdate/{id}" (id is employee.id) 
						<a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}"
							class="waves-effect waves-light btn">Update</a>
					</td>
				
					
					<td>
						<!-- The link which sends GET request to "/delete/{id}" (id is employee.id)  
						<a th:href="@{/delete/{id}(id=${employee.id})}"
							class="waves-effect waves-light btn red litghten-2">Delete</a>
					</td>
					-->
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>